<div *ngIf="dataLoaded==false" class="spinner-border text-success" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>

  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Search products</label>
    <input type="text" [(ngModel)]="filterText" class="form-control" id="filterText" placeholder="name of product">
     

  </div>
  <div class="create-button-div">
    <td><button *ngIf="hasRole()" routerLink="/products/add"  type="submit" class="btn btn-primary create-button">Create a product</button></td>
  </div>
   
<div *ngIf="filterText" class="alert alert-primary">
    {{filterText}} is searched
</div>

<table class="table">
    <thead>
        <tr>
        <th>Id</th>
        <th>productName</th>
        <th>category</th>
        <th>unitsInStock</th>
        <th>unitPrice</th>
        <th>VatPrice</th>
        <th></th>
        <th></th>
        <th></th>
         
    </tr>
    </thead>
    <tbody>
    <!--Adding a pipe in the list( this list is an array of products ) -->
<tr *ngFor="let product of products | filterPipe:filterText">
    <td>{{product.productId}}</td>
    <td>{{product.productName | uppercase}}</td>
    <td>{{product.categoryId}}</td>
    <td>{{product.unitsInStock}}</td>
    <td>{{product.unitPrice | currency}}</td>
    <td>{{product.unitPrice | vatAdded:10 | currency}}</td>
    <td><button  (click)="addToCart(product)" type="submit" class="btn btn-success ">Add to cart</button></td>
    <td><button *ngIf="hasRole()" (click)="deleteProduct(product)" type="submit" routerLink="products" class="btn btn-danger buttons">Delete product</button></td>
    <td><button *ngIf="hasRole()" (click)="addToCart(product)" type="submit" class="btn btn-info buttons">Update product</button></td>
     
</tr>
</tbody>
</table>
